/* font css start */

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/NexaBold.woff2') format('woff2'), url('../fonts/NexaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa-Bold.woff2') format('woff2'), url('../fonts/Nexa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/Nexa-Regular.woff2') format('woff2'), url('../fonts/Nexa-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playlist';
    src: url('../fonts/Playlist-Script.woff2') format('woff2'), url('../fonts/Playlist-Script.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'El Messiri';
    src: url('../fonts/ElMessiri-Regular.woff2') format('woff2'), url('../fonts/ElMessiri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* font css end */


/* global css start */

 :root {
    --dark: #000;
    --light: #fff;
    --light-green: #a4d722;
    --grey: #CCCCCC;
    --rose: #E01071;
    --pale-grey: #FDFDFD;
    --dark-grey: #707070;
    --off-white: #F0F0F0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nexa';
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
    font-size: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
label,
ol,
ul,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1225px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

.container-fluid {
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: var(--dark);
    text-transform: uppercase;
    margin-bottom: 65px;
    text-align: center;
}

h6 {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark);
    line-height: 19px;
    text-transform: uppercase;
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99999;
    width: 60px;
    height: 60px;
}


/* global css end */


/* announcement css start */

.announcement-bar {
    background-color: var(--light-green);
    text-align: center;
    padding: 13px 20px;
}

.announcement-bar p,
.announcement-bar a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--light);
}


/* announcement css end */


/* header css start */

header {
    padding: 47px 0;
}

header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}

header .logo span {
    font-size: 26px;
    font-weight: 400;
    display: inline-block;
    color: var(--dark);
    font-family: 'Playlist';
}

header .header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
}

header nav ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark);
    text-transform: uppercase;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

header nav ul li a:hover {
    color: var(--rose);
}

header .menu {
    display: none;
}

header .header-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 30px;
}


/* header css end */


/* banner css start */

.banner-slider .slick-dots li button:before {
    display: none;
}

.banner-slider .slick-dots li button {
    width: 8px;
    height: 8px;
    background-color: var(--grey);
    border-radius: 50%;
}

.banner-slider .slick-dots li.slick-active button {
    background-color: var(--rose);
}

.banner-slider .slick-dots {
    padding: 11.5px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    background: var(--light);
    max-width: 280px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.banner-slider .slide-arrow {
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: transparent;
    border: transparent;
    height: 33px;
    cursor: pointer;
}

.banner-slider .prev-arrow {
    right: calc(50% - -105px);
}

.banner-slider .next-arrow {
    left: calc(50% - -105px);
}

.banner-slider .slick-dots li {
    width: 10px;
    height: 10px;
}

.banner .item img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    width: 100%;
}


/* banner css end */


/* product css start */

.product {
    padding: 117px 0;
}

.product .product-detail,
.occasion .occasion-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    max-width: 33%;
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29.3%;
    flex: 0 0 29.3%;
}

.card figure {
    font-size: 0;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
    left: 0;
    top: 0;
    z-index: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.card:hover::before,
.card:hover::after {
    width: 100%;
}

.card::after {
    left: auto;
    right: 0;
}

.card h3 {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow: 0 0 4px rgb(0 0 0 / 40%);
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    line-height: 27px;
    width: 100%;
    text-align: center;
    z-index: 1;
    text-transform: uppercase;
}


/* product css end */


/* occasion css start */

.occasion {
    padding: 30px 0 80px;
}

.occasion .occasion-detail .card {
    max-width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 21%;
    flex: 0 0 21%;
}

.occasion h3 {
    font-size: 16px;
    line-height: 22px;
}


/* occasion css end */


/* about css start */

.about {
    padding: 80px 0 135px;
}

.about p {
    font-size: 24px;
    font-weight: 400;
    line-height: 49px;
    color: var(--dark);
    text-align: center;
}


/* about css end */


/* insta-feed css start */

.insta-feed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.insta-feed .insta-feedbox {
    max-width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
}

.insta-feed .title {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow: 0 0 4px rgb(0 0 0 / 40%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.insta-feed .title img {
    width: 25px;
    height: 25px;
}

.insta-feed figure img {
    width: 100%;
    height: 100%;
}


/* insta-feed css end */


/* Footer starts here */

footer {
    background-color: var(--pale-grey);
    color: var(--rose);
}

.footer-main .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.footer-main {
    padding: 105px 0 63px;
}

.footer-main .ft_block {
    max-width: 20%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    width: 100%;
}

.footer-main .ft_block.about-us {
    max-width: 33%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
}

footer h6 {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 25px;
}

footer p,
footer a {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: var(--rose);
}

footer .hours ul {
    margin-bottom: 20px;
}

footer .location h6 {
    margin-bottom: 20px;
}

footer .footer-social {
    border-top: 1px solid var(--grey);
    padding: 20px 0 36px;
}

footer .footer-social .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer .footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 13px;
}

footer .footer-social ul li {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
}

footer .footer-social ul li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

footer .copy-right {
    display: none;
}


/* Footer ends here */


/* decoration page css start */


/* decoration css start */

.decoration-title {
    padding: 70px 0 100px;
}

.decoration-title h2 {
    margin-bottom: 0;
}

.filter {
    border-top: 1px solid var(--off-white);
    border-bottom: 1px solid var(--off-white);
    padding: 29px 0 33px;
}

.filter .filter-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter .col-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 65px;
}

.filter .col-left .cl-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 35px;
}

.filter select {
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    color: var(--dark);
    line-height: 19px;
}

.filter h6 {
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

.filter-product {
    display: none;
}

.deco-product {
    padding: 70px 0;
    text-align: center;
}

.deco-product h6 {
    color: var(--rose);
    margin-bottom: 5px;
}

.deco-product span,
.deco-product a {
    font-size: 16px;
    font-weight: 400;
    color: var(--dark);
    line-height: 19px;
}

.deco-product .deco-product-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 55px;
    margin-bottom: 70px;
}

.deco-product .deco-card {
    max-width: 33.33%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 29.7%;
    flex: 0 0 29.7%;
    text-align: left;
}

.deco-product figure {
    margin-bottom: 5px;
}

.pagination-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
}

.pagination-wrap span,
.pagination-wrap a {
    color: var(--rose);
}


/* decoration css end */


/* decoration page css end */


/* product detail page css start */

.deco-product.product-like {
    padding: 100px 0 148px;
}

.deco-product-wrap.product-like-wrap {
    gap: 45px;
}

.deco-product-wrap.product-like-wrap .deco-card {
    max-width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 22.3%;
    flex: 0 0 22.3%;
    text-align: left;
}

.product-gallery {
    max-width: 592px;
    width: 100%;
}

.product-gallery .pg-top {
    margin-bottom: 17px;
}

.product-gallery .pg-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 17px;
}

.product-desc {
    padding: 113px 0 100px;
}

.deco-product .back-btn {
    padding: 17.5px 54.5px;
    border: 1px solid var(--rose);
    color: var(--rose);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}

.product-desc-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 170px;
}

.product-desc-wrap .product-desc-col {
    max-width: 582px;
    width: 100%;
}

.product-desc-wrap .product-desc-col h3 {
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    color: var(--dark);
    margin-bottom: 5px;
}

.product-desc-wrap .product-desc-col .price {
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    color: var(--dark);
    margin-bottom: 25px;
    display: block;
}

.product-desc-wrap .product-desc-col p {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 34px;
    letter-spacing: 0.8px;
    max-width: 500px;
    color: var(--dark);
}

.product-desc-wrap .product-desc-col label {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: var(--dark);
    margin-bottom: 5px;
    display: block;
}

.product-desc-wrap .product-desc-col select {
    font-size: 14px;
    letter-spacing: 0.4px;
    border: 1px solid var(--rose);
    padding: 12px 47px 12px 12px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url('../images/dropdown-arrow.png') no-repeat;
    background-position: 90% 50%;
    max-width: 172px;
    width: 100%;
}

.product-desc-wrap .product-desc-col .fg-1 {
    margin-bottom: 18px;
}

.product-desc-wrap .product-desc-col .fg-2 {
    margin-bottom: 30px;
}

.product-desc-wrap .product-desc-col .fg-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 23px;
}

.product-desc-wrap .product-desc-col .cart-btn {
    max-width: 360px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
    padding: 19px;
    border: none;
    cursor: pointer;
    color: var(--light);
    background-color: var(--rose);
    margin-bottom: 70px;
}

.product-desc-wrap .product-desc-col .para-wrap {
    margin-bottom: 40px;
}

.product-desc-wrap .product-desc-col .para-wrap p {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 20px;
    letter-spacing: 0.8px;
    max-width: 100%;
    color: var(--dark);
    width: 100%;
}

.product-desc-wrap .product-desc-col .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 18px;
}


/* radio btn css start */

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
    display: none;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 23px;
    cursor: pointer;
    display: inline-block;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border: 1px solid var(--rose);
    border-radius: 100%;
    background: var(--light);
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--rose);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/* radio btn css end */

.jacuzzi {
    display: none;
    background-color: #3A96A3;
    padding: 12px 0;
}

.jacuzzi .jacuzzi-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 300px;
    margin: 0 auto;
}

.jacuzzi .logo {
    font-size: 14px;
    font-family: 'El Messiri';
    font-weight: 400;
    color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.jacuzzi .visit-btn {
    font-size: 12px;
    line-height: 11px;
    font-family: 'El Messiri';
    font-weight: 400;
    background: var(--light);
    padding: 6px;
    color: #3A96A3;
}


/* product detail page css end */


/* contact page css start */

.contact-us-title {
    padding: 30px 0;
    border-bottom: 1px solid var(--off-white);
}

.contact-us-form {
    padding: 142px 0 122px;
}

.contact-us-form form {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    column-gap: 38px;
}

.contact-us-form .form-group {
    max-width: 50%;
    width: 100%;
    flex: 0 0 48%;
}

.contact-us-form .form-group input,
.contact-us-form form textarea {
    border: 1px solid var(--rose);
    width: 100%;
    height: 70px;
    outline: none;
    padding: 23px;
    font-size: 20px;
    font-weight: 400;
    color: var(--dark);
    letter-spacing: 0.4px;
}

.contact-us-form .form-group input::placeholder,
.contact-us-form form textarea::placeholder {
    color: var(--dark);
    letter-spacing: 0.4px;
}

.contact-us-form form textarea {
    width: 100%;
    height: 250px;
}

.contact-us-form .submit-btn {
    padding: 17.5px 62.5px;
    border: 1px solid var(--rose);
    color: var(--light);
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    background-color: var(--rose);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}


/* contact page css end*/


/* media queries start */

@media (max-width:1366px) {
    .product-desc-wrap {
        gap: 50px;
    }
    .deco-product-wrap.product-like-wrap .deco-card {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 22%;
        flex: 0 0 22%;
    }
    .product-desc,
    .deco-product.product-like {
        padding: 100px 0;
    }
}

@media (max-width:1200px) {
    header .header-icon,
    header nav ul {
        gap: 30px;
    }
    .product {
        padding: 80px 0;
    }
    .about {
        padding: 0 0 80px;
    }
    .deco-product.product-like h2 {
        margin-bottom: 50px !important;
    }
    h2 {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 40px;
    }
    .about p {
        font-size: 20px;
        line-height: 36px;
    }
    .product .product-detail,
    .occasion .occasion-detail {
        gap: 30px;
    }
    .footer-main {
        padding: 80px 0 60px;
    }
    .footer-main .ft_block {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
    }
    .deco-product .deco-card {
        max-width: 33.33%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 29%;
        flex: 0 0 29%;
    }
    .decoration-title {
        padding: 50px 0 100px;
    }
    .product-gallery {
        max-width: 450px;
    }
    .product-desc-wrap .product-desc-col h3,
    .product-desc-wrap .product-desc-col .price {
        font-size: 28px;
        line-height: 30px;
    }
    .product-desc-wrap .product-desc-col p {
        font-size: 14px;
        line-height: 28px;
    }
    .product-desc-wrap .product-desc-col .cart-btn {
        max-width: 300px;
        font-size: 16px;
        line-height: 21px;
        padding: 12px;
    }
    .deco-product-wrap.product-like-wrap {
        gap: 30px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .product-gallery .pg-bottom figure {
        margin: 0 5px;
    }
    .contact-us-form {
        padding: 100px 0;
    }
}

@media (max-width:991px) {
    header {
        padding: 30px 0;
    }
    header .logo img {
        width: 38px;
        height: 38px;
    }
    header .logo span {
        font-size: 17px;
    }
    header .header-icon,
    header nav ul {
        gap: 15px;
    }
    header nav ul li a {
        font-size: 14px;
    }
    header .header-icon img {
        width: 25px;
        height: 25px;
    }
    .card h3 {
        font-size: 18px;
        line-height: 24px;
    }
    .about p {
        font-size: 18px;
        line-height: 30px;
    }
    .occasion .occasion-detail .card {
        max-width: 33%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 29.3%;
        flex: 0 0 29.3%;
    }
    .footer-main .footer-wrapper {
        gap: 30px;
    }
    .footer-main .ft_block {
        max-width: 50%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
    }
    .footer-main .ft_block.about-us {
        max-width: 50%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
    .decoration-title {
        padding: 50px 0 70px;
    }
    .filter .col-left {
        gap: 30px;
    }
    .filter .col-left .cl-inner {
        gap: 20px;
    }
    .deco-product .deco-product-wrap {
        gap: 45px;
        margin-bottom: 50px;
    }
    .product-desc,
    .deco-product.product-like {
        padding: 50px 0;
    }
    .product-desc-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .product-desc-wrap .product-desc-col {
        max-width: 450px;
    }
    .deco-product-wrap.product-like-wrap {
        gap: 20px;
    }
    .product-gallery .pg-bottom {
        max-width: 320px;
        margin: 0 auto;
    }
    .product-gallery .pg-top {
        margin-bottom: 24px;
    }
    .contact-us-form .form-group input,
    .contact-us-form form textarea {
        height: 60px;
        padding: 15px 23px;
        font-size: 18px;
    }
    .contact-us-form form textarea {
        height: 200px;
    }
    .contact-us-form form {
        gap: 38px;
        column-gap: 28px;
    }
}

@media (max-width:767px) {
    header {
        position: relative;
        padding: 20px 0;
    }
    header .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        max-width: 20px;
        width: 100%;
        gap: 5px;
    }
    header .menu span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--rose);
        border-radius: 5px;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        position: relative;
        z-index: 999;
    }
    header nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 99;
        -webkit-transition: 0.6s;
        -o-transition: 0.6s;
        transition: 0.6s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 50px 0;
    }
    header nav ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    header nav.open {
        right: 0;
    }
    header .menu.change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        -ms-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }
    header .menu.change .bar2 {
        opacity: 0;
    }
    header .menu.change .bar3 {
        -webkit-transform: rotate(45deg) translate(-4px, -4px);
        -ms-transform: rotate(45deg) translate(-4px, -4px);
        transform: rotate(45deg) translate(-4px, -4px);
    }
    header nav ul li a {
        font-size: 18px;
        line-height: 40px;
    }
    header .header-icon li,
    header .header-icon img {
        width: 18px;
        height: 18px;
    }
    .banner .item img {
        height: 60vw;
    }
    .announcement-bar {
        padding: 12px 20px;
    }
    .occasion {
        padding: 30px 0 50px;
    }
    .about {
        padding: 0 0 49px;
    }
    .insta-feed .title img {
        width: 17px;
        height: 17px;
    }
    .announcement-bar p {
        max-width: 300px;
        margin: 0 auto;
        font-size: 12px;
    }
    .announcement-bar a {
        font-size: 13px;
    }
    header .header-wrap {
        max-width: 300px;
        margin: 0 auto;
    }
    .card,
    .occasion .occasion-detail .card {
        max-width: 50%;
        width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
        flex: 0 0 45%;
    }
    .occasion .occasion-detail .card img {
        width: 100%;
        height: 100%;
    }
    .product {
        padding: 50px 0;
    }
    h2 {
        font-size: 17px;
        line-height: 17px;
        margin-bottom: 24px;
    }
    footer .footer-social .footer-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 42px;
    }
    footer .footer-social .fb_block.social-media p {
        display: none;
    }
    footer .copy-right {
        display: block;
    }
    footer .footer-social ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    footer .fb_block.payment-cards ul li {
        max-width: 10%;
        width: 100%;
    }
    .footer-main .ft_block.about-us {
        display: none;
    }
    .footer-main .ft_block {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    }
    .footer-main {
        padding: 75px 0 40px;
    }
    .product .product-detail,
    .occasion .occasion-detail {
        gap: 13px;
    }
    .card h3 {
        font-size: 12px;
    }
    .about h2,
    .about p {
        text-align: left;
    }
    p {
        font-size: 14px;
        line-height: 24px;
    }
    .whatsapp {
        bottom: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
    }
    footer h6 {
        font-size: 15px;
        margin-bottom: 20px;
    }
    footer p,
    footer a {
        font-size: 14px;
    }
    .filter {
        padding: 7px 0;
    }
    .filter .filter-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .filter .col-left {
        gap: 30px;
        width: 100%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .filter .col-left .cl-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 13px;
    }
    .filter h6 {
        -webkit-transform: translateX(5px);
        -ms-transform: translateX(5px);
        transform: translateX(5px);
    }
    .decoration-title {
        border-top: 1px solid var(--off-white);
        padding: 22px 0 17px;
    }
    .decoration-title h2 {
        font-size: 25px;
        line-height: 25px;
    }
    .deco-product .deco-product-wrap {
        gap: 34px;
        -webkit-column-gap: 16px;
        -moz-column-gap: 16px;
        column-gap: 16px;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
    .deco-product .deco-card,
    .deco-product-wrap.product-like-wrap .deco-card {
        max-width: 50%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 48%;
        flex: 0 0 48%;
    }
    .deco-product h6 {
        font-size: 13px;
        margin-bottom: 0;
    }
    .deco-product span,
    .deco-product a {
        font-size: 13px;
        line-height: 16px;
    }
    .deco-product {
        padding: 35px 0;
    }
    .filter .col-right {
        display: none;
    }
    .filter-product {
        display: block;
        margin-top: 13px;
    }
    .product-desc-wrap .product-desc-col h3,
    .product-desc-wrap .product-desc-col .price {
        font-size: 20px;
        line-height: 20px;
    }
    .product-desc-wrap .product-desc-col p {
        display: none;
    }
    .product-desc-wrap .product-desc-col .para-wrap p {
        display: block;
    }
    .product-desc-wrap .product-desc-col .fg-inner {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        gap: 5px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .deco-product.product-like {
        padding: 0;
    }
    .product-desc-wrap .product-desc-col .social-icons {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .deco-product .back-btn {
        display: none;
    }
    .jacuzzi {
        display: block;
    }
    .contact-us-title h2 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 0;
    }
    .contact-us-title {
        padding: 40px 0;
        border-bottom: none;
    }
    .contact-us-form form {
        max-width: 300px;
        gap: 15px;
        column-gap: 15px;
    }
    .contact-us-form .form-group {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .contact-us-form {
        padding: 0;
    }
    .contact-us-form .form-group input,
    .contact-us-form form textarea {
        height: 40px;
        padding: 10px 14px;
        font-size: 12px;
    }
    .contact-us-form form textarea {
        height: 120px;
    }
    .contact-us-form .submit-btn {
        padding: 7px 21px;
        font-size: 12px;
        line-height: 16px;
    }
}

@media (max-width:480px) {
    .card,
    .occasion .occasion-detail .card {
        -ms-flex: 0 0 47%;
        -webkit-box-flex: 0;
        flex: 0 0 47%;
    }
    .about p {
        font-size: 16px;
        line-height: 24px;
    }
    .deco-product .deco-card {
        max-width: 50%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
        flex: 0 0 47%;
    }
    .deco-product .deco-card,
    .deco-product-wrap.product-like-wrap .deco-card {
        max-width: 50%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
        flex: 0 0 47%;
    }
    .product-gallery .pg-bottom {
        max-width: 165px;
    }
}


/* media queries end */


/* media queries end */


/* media queries end */